/* Estilo do banner */
.banner {
    background-image: url("../images/Banner.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 50px;
    text-align: left;
    position: relative;
    margin-top: -32px;
    height: 55vh;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.banner h1 {
    position: relative;
    z-index: 2;
    font-size: 2.2rem;
    font-family: Playfair Display;
    font-weight: 400;
    max-width: 545px;
    margin: 0;
    text-align: center;
    transform: translate(50px);
}

/* Estilo da seção Sobre Nós */
.sobre-nos {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.sobre-nos .text-section {
    max-width: 50%;
}

/* Personalização do Título Principal */
.titulo-principal {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #101935;
    text-align: left;
    margin-bottom: 1.5rem;
    margin-top: 60px;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Personalização do Subtítulo */
.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #9AD4D6;
    text-align: left;
    margin-bottom: 3rem;
    font-style: italic;
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(0.3, 0.3, 0.5, 0.6);
}

/* Estilo do Modal de Login/Cadastro */
.modal-content {
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #FC6473;
    color: #ffffff;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
}

.modal-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn-close {
    background-color: #ffffff;
    opacity: 0.8;
}

.btn-close:hover {
    opacity: 1;
}

.btn-primary {
    background-color: #FC6473;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #e85463;
}

#showRegisterForm, #showLoginForm {
    color: #FC6473;
    text-decoration: none;
    font-weight: bold;
}

#showRegisterForm:hover, #showLoginForm:hover {
    text-decoration: underline;
}

/* Estilo do Carousel */
#carouselCards {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.carousel-inner {
    overflow: hidden;
    padding: 1rem; /* Ajustar o carrossel para que os cards fiquem bem distribuídos */
}

.carousel-item {
    display: none;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;
}

.carousel-item.active {
    display: flex;
}

.carousel-item .row {
    gap: 0.5rem; /* Ajuste do espaçamento entre os cards */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-md-6 {
    flex: 0 0 48%;
    max-width: 48%;
    display: flex;
    align-items: stretch;
}

/* Estilo dos Cards */
.card {
    border: none;
    border-radius: 10px;
    background-color: #101935;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    height: 100%;
    flex-grow: 1;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 550px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: left;
}

/* Estilo dos controles do Carousel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem; /* Aumentar a largura do botão para acomodar uma seta mais larga */
    height: 2.5rem; /* Altura igual à largura para manter o círculo */
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%; /* Garantir que o botão seja circular */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito suave ao passar o mouse */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #fc6473; /* Cor de fundo ao passar o mouse */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.0rem; /* Aumentar a largura do ícone para deixá-la mais visível */
    height: 1.0rem; /* Aumentar um pouco a altura para manter a proporcionalidade */
    background-size: 100%; /* Garantir que o ícone preencha o fundo do elemento */
}


/* Estilo do título "Principais Parceiros" */
.titulo-parceiros {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: bold;
    color: #FC6473;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: -60px;
    margin-bottom: 20px;
    margin-top: 130px;
}

/* Estilo da seção de parceiros */
.parceiros-container {
    background-color: #9AD4D6;
    overflow: hidden;
    position: relative;
    padding: 1rem 0;
    margin-bottom: 80px;
}

.parceiros-slider {
    display: flex;
    gap: 40px;
    animation: slide 20s linear infinite;
    width: max-content;
}

.parceiros-slider:hover {
    animation-play-state: paused;
}

.parceiros-slider img {
    height: 50px;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}





#visitCount {
    font-style: italic; /* Deixar a mensagem mais sutil */
    color: #b0b0b0; /* Cor neutra para não chamar muita atenção */
    font-size: 0.8rem; /* Um pouco menor do que o resto do texto */
}
