/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* Estilo do header */
.navbar {
    margin-bottom: 2rem;
    background-color: #101935 !important;
}

.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-item:not(.login) {
    order: 1;
    flex-grow: 1;
    text-align: right;
}

.navbar-nav .nav-link:hover {
    color: #FC6473 !important;
}



/* Estilo dos títulos no footer */
.footer-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Estilo da linha separadora no footer */
.footer-divider {
    border: 1.5px solid #4A4A4A;
    width: 100%;
    max-width: 305px; /* Limita a largura máxima para manter o tamanho */
    margin-bottom: 15px;
    margin-left: 0; /* Alinha a linha separadora à esquerda */
}

/* Tópicos abaixo da linha alinhados à esquerda */
footer .text-start ul {
    text-align: left;
    padding-left: 0;
}

/* Estilo do footer */
footer {
    background-color: #101935;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo do subfooter */
.subfooter {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.subfooter p {
    margin: 0;
}

/* Ajustes para os ícones do footer (usando Bootstrap Icons) */
.bi-telephone, .bi-envelope {
    margin-right: 8px;
}