/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* Estilo do header */
.navbar {
    margin-bottom: 2rem;
    background-color: #101935 !important;
}

.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-item:not(.login) {
    order: 1;
    flex-grow: 1;
    text-align: right;
}

.navbar-nav .nav-link:hover {
    color: #FC6473 !important;
}


/* Estilo do banner */
.banner {
    background-image: url("./images/Banner.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 50px;
    /* Ajuste do padding para adicionar espaço à esquerda */
    text-align: left;
    /* Alinhando o texto à esquerda */
    position: relative;
    margin-top: -32px;
    /* Colando o banner no header */
    height: 55vh;
    /* Ajustando a altura para exibir a asa do avião corretamente */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Adicionando uma camada de opacidade sobre a imagem */
    z-index: 1;
}

.banner h1 {
    position: relative;
    z-index: 2;
    font-size: 2.2rem;
    /* Ajuste do tamanho da fonte */
    font-family: Playfair Display;
    font-weight: 400;
    max-width: 545px;
    margin: 0;
    text-align: center;
    transform: translate(50px);
}


/* Estilo da seção Sobre Nós */
.sobre-nos {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.sobre-nos .text-section {
    max-width: 50%;
}

/* Personalização do Título Principal */
.titulo-principal {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #101935;
    text-align: left;
    margin-bottom: 1.5rem;
    margin-top: 60px;
    line-height: 1.2;
    /* Ajustar o espaçamento entre linhas */

}

/* Personalização do Subtítulo */
.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    /* Aumentar o tamanho da fonte */
    color: #9AD4D6;
    /* Cor personalizada para o subtítulo */
    text-align: left;
    margin-bottom: 3rem;
    font-style: italic;
    line-height: 1.5;
}

.titulo-principal {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.subtitulo {
    text-shadow: 1px 1px 3px rgba(0.3, 0.3, 0.5, 0.6);
}


/* Estilo do Carousel */
#carouselCards {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.carousel-inner {
    overflow: hidden;
}

.carousel-item {
    display: none;
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
    display: flex;
}

.carousel-item .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-md-6 {
    flex: 0 0 48%;
    max-width: 48%;
    display: flex;
    align-items: stretch;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #101935;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    /* Garantir uma altura mínima para todos os cards */
    height: 100%;
    flex-grow: 1;
    /* Garantir que todos os cards cresçam igualmente */
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 550px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: left;
}

/* Estilo dos controles do Carousel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #101935;
    border-radius: 50%;
    padding: 20px;
    margin: 0 30px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #fc6473;
}

.carousel-indicators [data-bs-target] {
    background-color: #fc6473;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}


/* Estilo do título "Principais Parceiros" */
.titulo-parceiros {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: bold;
    color: #FC6473;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: -60px;
    margin-bottom: 40px;
    margin-top: 130px;
}

/* Estilo da seção de parceiros */
.parceiros-container {
    background-color: #9AD4D6;
    overflow: hidden;
    position: relative;
    padding: 1rem 0;
    margin-bottom: 60px;
}

.parceiros-slider {
    display: flex;
    gap: 40px;
    animation: slide 20s linear infinite;
    width: max-content;
    /* Ajuste o tempo conforme necessário para tornar o movimento mais suave */
}

.parceiros-slider:hover {
    animation-play-state: paused;
    /* Pausa a animação ao passar o mouse, caso seja necessário */
}

.parceiros-slider::after {
    content: "";
    flex: 0 0 auto;
    width: 100%;
}

.parceiros-slider img {
    height: 50px;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



/* Estilo do footer */
footer {
    background-color: #1a1a2e;
    color: #fff;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo do subfooter */
.subfooter {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.subfooter p {
    margin: 0;
}