/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* Estilo do header */
.navbar {
    margin-bottom: 2rem;
    background-color: #101935 !important;
}

.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-item:not(.login) {
    order: 1;
    flex-grow: 1;
    text-align: right;
}

.navbar-nav .nav-link:hover {
    color: #FC6473 !important;
}


/* Estilo do banner */
.banner {
    background-image: url("./images/Banner.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    /* Ajuste do padding para evitar esticar demais a imagem */
    text-align: center;
    position: relative;
    margin-top: -1px;
    /* Colando o banner no header */
    height: 70vh;
    /* Ajustando a altura para exibir a asa do avião corretamente */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adicionando uma camada de opacidade sobre a imagem */
    z-index: 1;
}

.banner h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    /* Ajuste do tamanho da fonte */
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo da seção Sobre Nós */
.sobre-nos {
    margin-bottom: 5rem;
}

.sobre-nos h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.subtitulo {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

/* Estilo do Carousel */
.carousel-inner {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-item .card {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilo da seção de parceiros */
.parceiros-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.parceiros-wrapper img {
    height: 60px;
    margin: 15px;
}

/* Estilo do footer */
footer {
    background-color: #1a1a2e;
    color: #fff;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilo do subfooter */
.subfooter {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.subfooter p {
    margin: 0;
}