/* Banner */
.banner {
    background-image: url('banner-image.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.banner-content h1 {
    font-size: 2rem;
    font-weight: bold;
}

/* Sobre Nós */
.sobre-nos h2 {
    font-size: 2.5rem;
    color: #101935;
    font-weight: bold;
}

.sobre-nos .subtitulo {
    color: #4A4A4A;
}

.carousel .card {
    padding: 20px;
    max-width: 400px;
}

.carousel .card h3 {
    font-size: 1.5rem;
    color: #101935;
}

/* Parceiros */
.parceiros img {
    margin: 0 10px;
    width: 100px;
    height: auto;
}

/* Footer */
footer h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F2FDFF;
}

footer p {
    margin: 5px 0;
    color: #9AD4D6;
}


.parceiros-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.logos-scroll {
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.logos-scroll img {
    width: 100px;
    height: auto;
    margin: 0 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}